<div fxLayout="column" fxLayoutAlign="space-between none" class="layout-wrapper">
  <div>
    <mat-toolbar>Sticky toolbar and non-sticky footer</mat-toolbar>
    <div class="inner-wrapper">
      <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <img width="300" alt="Angular Logo"
             src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
      <h2>Here are some links to help you start: </h2>
      <ul>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
          </h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
        </li>
      </ul>
      <div>
        <h2>Some Lorem Ipsum to make the page scroll:</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum perferendis temporibus. Accusamus,
          blanditiis consectetur dolorum eaque eos eum fuga itaque labore laboriosam nesciunt obcaecati odit officiis
          perspiciatis ratione tempore?</p>
        <p>Animi architecto commodi cupiditate debitis deleniti, dicta earum facilis fuga harum incidunt, laborum maxime nam
          nemo numquam pariatur placeat quis ratione recusandae reiciendis similique soluta tempore tenetur ullam velit
          voluptatum!</p>
        <p>Ab aperiam cumque dolor eligendi est ex molestiae molestias non, perferendis placeat possimus quibusdam quis
          similique sint suscipit temporibus veniam vero! Ad aut dolorum ducimus, eum ipsam quaerat quidem temporibus?</p>
        <p>Architecto beatae delectus, doloremque dolores, esse est illum, nemo neque nesciunt nostrum reiciendis similique
          unde veritatis. Aut beatae debitis doloribus eos facilis, inventore labore laudantium obcaecati optio perferendis
          sapiente veniam.</p>
        <p>Aperiam consequuntur culpa cupiditate dignissimos eius et fugit impedit ipsa, laboriosam minima, minus nam odit
          officiis perspiciatis quidem repellat sed similique soluta sunt suscipit, temporibus tenetur unde vel veniam
          voluptatem.</p>
        <p>Cum doloribus ea excepturi ipsa ipsum laboriosam minima odit sint unde veritatis! Ab consectetur deserunt dicta
          distinctio doloremque est impedit incidunt laborum libero, modi non officiis provident reiciendis similique,
          voluptate!</p>
        <p>Adipisci aliquam autem commodi corporis cumque delectus deserunt ea earum et eum in ipsum iste libero maiores
          necessitatibus, non odio odit officia porro possimus quasi, quis sapiente ut vitae voluptas.</p>
        <p>Alias consequatur culpa ducimus ipsam optio reiciendis saepe voluptas! Ab delectus eos illum ipsa nemo neque rem
          repellendus? A aliquid, animi dolores eveniet minus quos sequi similique sit velit voluptatem!</p>
        <p>Aspernatur incidunt praesentium quaerat quis? Accusantium architecto, cumque dicta, doloremque ducimus earum
          eligendi et explicabo iusto maxime minus officiis omnis tempora! Deserunt error hic laborum libero ullam. A, at,
          eveniet.</p>
        <p>Adipisci fugiat placeat quia quibusdam, quod temporibus tenetur! Aliquid consequuntur debitis delectus ea eos id
          minus perspiciatis? Ab cumque distinctio error est eum explicabo illum laborum quae, quibusdam quod sunt.</p>
        <p>At aut beatae facere nostrum quia recusandae veritatis! A corporis cumque fugiat ipsa quibusdam recusandae
          reiciendis, unde voluptatem! Hic in iure laudantium nisi nobis omnis quis repellendus saepe soluta ullam?</p>
        <p>Amet aspernatur, assumenda cum, eos expedita facere harum libero neque nesciunt pariatur qui rem rerum vel veniam
          voluptas. Aliquam dolorem, earum ipsa molestiae non nostrum praesentium rerum? Aliquam, amet, inventore?</p>
        <p>Ea eius odit quo sequi. Amet consequatur culpa cum cumque excepturi harum impedit ipsam laborum magni maiores
          odio pariatur, quasi sint tempora voluptas. Earum eos iste nobis sapiente vero! Modi?</p>
        <p>Asperiores at autem culpa dignissimos doloribus ducimus eligendi eos esse est exercitationem impedit iusto nam
          nihil numquam odio, quibusdam, quidem quis reprehenderit sed unde. Itaque maxime quam ullam. Deserunt,
          ducimus?</p>
        <p>Commodi dicta officia qui repudiandae saepe! Adipisci iusto obcaecati officia perspiciatis ratione sed,
          voluptate? Atque corporis, dolore ea excepturi facilis fuga id itaque labore nisi optio, rem totam, voluptates
          voluptatum.</p>
        <p>Amet dolor esse, quam quia tenetur veniam veritatis? Consequatur ipsum magnam molestiae molestias nemo quam quasi
          rerum! Ducimus, ea eveniet iste neque, omnis perferendis perspiciatis provident quas quos totam ullam.</p>
        <p>Adipisci alias asperiores consectetur cum ea error esse est ex fugiat fugit inventore, labore nam neque qui quia,
          rerum tempora, ut vel. Cupiditate dolorum molestiae neque placeat, similique voluptatum. Voluptate.</p>
        <p>Animi cumque delectus error hic mollitia nisi numquam perferendis rem tenetur. Accusantium aliquam aspernatur aut
          beatae, dignissimos dolore ex, fuga hic ipsam minus nemo officiis placeat porro quo repellat sit!</p>
        <p>Accusantium alias aliquid, aperiam corporis deleniti dicta doloribus est excepturi impedit itaque molestias nemo
          numquam odit omnis, qui ratione reiciendis sequi temporibus. Aliquid asperiores porro praesentium quod recusandae
          saepe voluptatum.</p>
        <p>At consectetur est in iusto numquam officiis quibusdam sapiente? Animi asperiores consequuntur culpa dolorem
          doloribus ea earum eveniet excepturi, ipsa magnam maiores neque nesciunt officiis quas qui repellendus velit
          voluptatum.</p>
      </div>
    </div>
  </div>

  <footer>Footer</footer>
</div>
